<%= render "nav_tabs.html.erb" %>

<div class="tab-content">
  <br />
  <%= render "form" %>
  <%= link_to t("views.buttons.back"), school_studios_path(@school), class: "btn btn-default pull-left" %>
  <%= link_to t("views.buttons.edit"), edit_school_studio_path(@school, @studio), class: "btn btn-default pull-right" %>
</div>
