<% breadcrumb :member, @member %>
<%= render partial: 'members/nav_tabs', locals: { member: @member, active: :members_courses } %>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back member_members_courses_path(@member), pull: "left" %>
  </div>
</div>
