<% if false %>
<%= render "shared/notice" %>
<% end %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
    <%= link_to t("views.buttons.back"), dance_styles_path, class: "btn btn-default pull-left" %>
    <%= link_to t("views.buttons.edit"), edit_dance_style_path(@dance_style), class: "btn btn-default pull-right" %>
  </div>
</div>
