<ul class="nav nav-tabs">

  <li class="active">
    <a href="#task" data-toggle="tab"><%= t("activerecord.models.task") %></a>
  </li>

  <% if current_page?(tasks_path) %>
    <%= link_to t("views.buttons.new"), new_task_path, class: "btn btn-default pull-right" %>
  <% end %>

</ul>

