<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if request.path == '/statistics' %>">
        <%= link_to t("activerecord.models.members_course"), statistics_path %>
      </li>
      <li class="<%= 'active' if request.path.start_with? '/statistics/courses' %>">
        <%= link_to t("activerecord.models.course"), statistics_courses_path(year: business_year(Date.today)) %>
      </li>
    </ul>
  </div>
</div>


