<ul class="nav nav-tabs">
  <li class="active"><a href="#instructor" data-toggle="tab"><%= t("activerecord.models.instructor") %></a></li>
  <% if current_page?(instructor_path(@instructor)) %>
    <li><%= instructor_courses_link(@instructor) %></li>
  <% else %>
    <li class="disabled"><%= instructor_courses_link(@instructor, disable: true) %></li>
  <% end %>
  </li>
</ul>
