<ul class="nav nav-tabs">
  <li class="active">
    <a href="#instructor" data-toggle="tab"><%= t("activerecord.models.instructor") %></a>
  </li>
  <li>
    <% if current_page?(instructor_path(@instructor)) %>
      <%= link_to t("activerecord.models.course"), instructor_courses_path(@instructor), class: "btn btn-link" %>
    <% else %>
      <%= link_to t("activerecord.models.course"), instructor_courses_path(@instructor), class: "btn btn-link", disabled: "disabled" %>
    <% end %>
  </li>
</ul>
