<%= render "shared/notice" %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
    <%= link_to t("views.buttons.back"), instructors_path, class: "btn btn-default pull-left" %>
    <%= link_to t("views.buttons.edit"), edit_instructor_path(@instructor), class: "btn btn-default pull-right" %>
  </div>
</div>
