<%= render "breadcrumb" %>
<div class="tab-content">
  <br />
  <%= render 'form' %>
  <%= button_to_edit edit_user_path(@user), pull: "right" %>
  <%= button_to_back users_path, pull: "left" %>
</div>

