<% breadcrumb :user, @user %>
<div class="row">
  <div class="col-md-12">
    <%= render "shared/notice" %>
    <%= render 'form' %>
    <%= button_to_edit edit_user_path(@user), pull: "right" %>
    <%= button_to_back users_path, pull: "left" %>
  </div>
</div>

