<ol class="breadcrumb">
  <% if current_page?(task_debits_path) %>
    <li class="active"><%= t("activerecord.models.debit") %></li>
  <% else %>
    <li><%= link_to t("activerecord.models.debit"), task_debits_path %></li>
  <% end %>
  <% if current_page?(new_task_debit_path) %>
    <li class="active"><%= t("views.buttons.new") %></li>
  <% end %>
</ol>
