<% if Post.active.exists? %>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.open_date.strftime('%Y年%m月%d日') %></td>
                <td><%= link_to post.title, post_comments_path(post), class: 'btn btn-link' %></td>
                <td><small><%= post.user.name %></small></td>
                <td><%= unread_badge(post, @current_user) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
