<ul class="nav nav-tabs">
  <li class="active">
    <a href="#school" data-toggle="tab"><%= t("activerecord.models.school") %></a>
  </li>
  <li>
    <% if current_page?(school_path(@school)) %>
      <%= link_to t("activerecord.models.studio"), school_studios_path(@school), class: "btn btn-link" %>
    <% else %>
      <%= link_to t("activerecord.models.studio"), school_studios_path(@school), class: "btn btn-link", disabled: "disabled" %>
    <% end %>
  </li>
  <% if current_page?(schools_path) %>
    <%= link_to t("views.buttons.new"), new_school_path, class: "btn btn-default pull-right" %>
  <% end %>
</ul>

