<%
  fee = instructor.fee_for(month: month) + (instructor.transportation || 0)
  tax = if fee > 0
      (fee * 0.1021).truncate
    else
      0
    end
  #tax = (fee * 0.1021).truncate if fee > 0
%>
<div class="row">
  <div class="col-xs-12" style="page-break-inside: avoid;">
    <div class="row">
      <div class="col-xs-11 col-xs-offset-1">
        <table class="table table-bordered">
          <thead>
            <tr class="info">
              <th class="col-xs-1">#</th>
              <th class="col-xs-4">内容</th>
              <th class="col-xs-2">金額</th>
              <th class="col-xs-4">備考</th>
            </tr>  
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td>源泉徴収税</td>
              <td class="text-right"><%= number_to_currency(tax) %></td>
              <td><%= "課税対象額　#{number_to_currency(fee)}"%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 
