<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= list_item(active: active == :course) {|active| course.decorate.list_item(active: active) } %>
      <% if course.persisted? %>
        <%= list_item(active: active == :members_courses) { course.decorate.members_link } %>
        <%= list_item(active: active == :lessons) { course.decorate.lessons_link } %>
      <% end %>
    </ul>
  </div>
</div>
