<% if current_page.first? %>
  <li class="disabled">
    <span><%= t("views.pagination.previous") %></span>
  </li>
<% else %>
  <li>
    <%= link_to t("views.pagination.previous"), url, :rel => "prev", :remote => remote %>
  </li>
<% end %>
