<div class="modal fade" id="lesson">
  <%= form_for @lesson do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title">確認</h4>
        </div>
        <div class="modal-body">
          確定してよいですか？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <%= t("views.buttons.close") %>
          </button>
          <%= hidden_field_tag "lesson[status]", "2" %>
          <%= f.submit t("views.buttons.fix"), class: "btn btn-default" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
