<ul class="nav nav-tabs">
  <li class="active">
    <a href="#bank_account" data-toggle="tab"><%= t("activerecord.models.bank_account") %></a>
  </li>
  <% if current_page?(bank_account_path(@bank_account)) %>
    <li>
      <%= link_to t("activerecord.models.member"), bank_account_members_path(@bank_account), class: "btn btn-link" %>
    </li>
  <% end %>
  <% if current_page?(bank_accounts_path) %>
    <%= link_to t("views.buttons.new"), new_bank_account_path, class: "btn btn-default pull-right" %>
  <% end %>
</ul>
