<% breadcrumb :edit_bank_account, @bank_account %>
<%= render partial: 'nav_tabs', locals: { bank_account: @bank_account, active: :bank_account } %>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back bank_accounts_path, pull: "left" %>
  </div>
</div>
