<% breadcrumb :new_bank_account %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_bank_account nil, active: true %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back bank_accounts_path, pull: "left" %>
  </div>
</div>
