<%= render "shared/notice" %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
    <%= link_to t("views.buttons.back"), bank_accounts_path, class: "btn btn-default pull-left" %>
    <%= link_to t("views.buttons.edit"), edit_bank_account_path(@bank_account), class: "btn btn-default pull-right" %>
  </div>
</div>
