<div class="panel panel-default">
  <!--<div class="panel-heading">New school</div>-->
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to t("views.buttons.back"), schools_path, class: "btn btn-default pull-left" %>
  </div>
</div>
