<% breadcrumb :edit_course, @course %>
<%= render partial: 'nav_tabs', locals: { course: @course, active: :course } %>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back courses_path, pull: "left" %>
  </div>
</div>
