<%= render "nav_tabs" %>

<div class="tab-content">
  <br />
  <%= render 'form' %>
  <%= button_tag t("views.buttons.create"), class: "btn btn-default pull-right", form: "form" %>
  <%= link_to t("views.buttons.back"), courses_path, class: "btn btn-default pull-left" %>
</div>
