<% breadcrumb :new_course, @timetable %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= tab_to_course @course, active: true %>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back courses_path(studio_id: @studio.id, date: Date.today.to_s(:number)), pull: "left" %>
  </div>
</div>
