<% breadcrumb :edit_instructor, @instructor %>
<%= render partial: 'nav_tabs', locals: { instructor: @instructor, active: :instructor } %>
<br />
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back instructor_path(@instructor), pull: "left" %>
  </div>
</div>
