<ul class="nav nav-tabs">
  <li class="active">
    <a href="#tuition" data-toggle="tabl"><%= t("activerecord.models.tuition") %></a>
  </li>
  <% if current_page?(tuitions_path) %>
    <%= link_to t("views.buttons.new"), new_tuition_path, class: "btn btn-default pull-right" %>
  <% end %>
</ul>


