<% breadcrumb :new_post %>
<div class="row">
  <div class="col-md-12">
    <%= render "form" %>
    <%= button_to_save pull: "right" %>
    <%= button_to_back posts_path, pull: "left" %>
  </div>
</div>
