<ol class="breadcrumb">
  <li><%= link_to t("activerecord.models.tuition"), tuitions_path %></li>
  <% if current_page?(tuition_debits_path(@tuition)) %>
    <li class="active"><%= @tuition.month_ja %></li>
  <% end %>
  <% if current_page?(edit_tuition_debits_path(@tuition)) %>
    <li><%= link_to @tuition.month_ja, tuition_debits_path(@tuition) %></li>
    <li class="active"><%= t("views.buttons.edit") %></li>
  <% end %>
</ol>
