<% if params[:action] == "bulk_show" %>
  <%= object.status_label %>
<% end %>

<% if current_page?(edit_debits_path(month: params[:month])) %>
  <%= hidden_field_tag "debits[][status]", object.status %>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default <%= "btn-success active" if object.status == "1" %>">
      <input type="radio" value="1" />完了
    </label>
    <label class="btn btn-default <%= "btn-danger active" if object.status == "2" %>">
      <input type="radio" value="2" />不能
    </label>
  </div>
  <script>
    $('div[data-toggle="buttons"] .btn').click(function() {
      var div = $(this).parent("div");
      var radio = $(this).children("input");
      var td = div.parent("td");
      var hidden = td.children("input");
      hidden.val(radio.attr("value"));
      $(this).parent("div").children("label").each(function() {
        $(this).removeClass("btn-success");
        $(this).removeClass("btn-danger");
        if (hidden.attr("value") == $(this).children("input").attr("value")) {
          if (hidden.attr("value") == "1") {
            $(this).addClass("btn-success");
          } else if (hidden.attr("value") == "2") {
            $(this).addClass("btn-danger");
          }
        }
      });
    });
  </script>
<% end %>
