<%= render "breadcrumb" %>
<div class="tab-content">
  <br />
  <%= render "bulk_form" %>
  <%= save_button_tag pull: "right" %>
  <%= back_link_to tuition_debits_path(@tuition), pull: "left" %>
</div>
