<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= list_item(active: active == :bank_account) {|active| bank_account.decorate.list_item(active: active) } %>
      <% if bank_account.persisted? %>
        <%= list_item(active: active == :members) { bank_account.decorate.members_link } %>
      <% end %>
    </ul>
  </div>
</div>

