<div class="row">
  <div class="col-xs-12" style="page-break-inside: avoid;">
    <div class="row">
      <div class="col-xs-11 col-xs-offset-1">
        合計
        <table class="table table-bordered">
          <thead>
            <tr class="info">
              <th class="col-xs-1">#</th>
              <th class="col-xs-4">項目</th>
              <th class="col-xs-2">金額</th>
              <th class="col-xs-4">備考</th>
            </tr>
          </thead>
          <tbody>
            <% total_amount_paid = 0 %>
            <tr>
              <td class="text-center">1</td>
              <td>講師代</td>
              <td class="text-right">
                <% total_amount_paid = instructor.salary(month: month) %>
                <%= number_to_currency(total_amount_paid) %>
              </td>
              <td></td>
            </tr>
            <% if (instructor.transportation || 0) > 0 %>
              <tr>
                <td class="text-center">2</td>
                <td><%= t("activerecord.attributes.instructor.transportation") %></td>
                <td class="text-right"><%= number_to_currency(instructor.transportation) %></td>
                <td></td>
              </tr>
              <% total_amount_paid += instructor.transportation %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <th class="info">合計</th>
              <td class="text-right"><%= number_to_currency(total_amount_paid) %></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
