<ul class="nav nav-tabs">
  <li class="active">
    <a href="#roll" data-toggle="tab"><%= t("activerecord.models.lesson") %></a>
  </li>
  <% if current_page?(edit_lesson_rolls_path(@lesson)) %>
    <%= link_to t("views.buttons.substitute"), absences_path(@lesson), class: "btn btn-default pull-right" %>
    <%= link_to t("views.buttons.trial"), nonmembers_path(@lesson), class: "btn btn-default pull-right" %>
  <% end %>
</ul>

