<%= render "breadcrumb" %>

<div class="tab-content">
  <br />
  <%= render "form" %>
  <%= save_button_tag pull: "right" %>
  <%= back_link_to tuition_receipts_path(@tuition, @receipt), pull: "left" %>
</div>
