<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <%= wicked_pdf_javascript_include_tag "application" %>
    <style type="text/css">
    <!--
    table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
    }
    -->
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>