<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <%= list_item(active: active == :member) {|active| member.decorate.list_item(active: active) } %>
      <% if member.persisted? %>
        <%= list_item(active: active == :members_courses) { member.decorate.courses_link } %>
        <%= list_item(active: active == :rolls) { member.decorate.rolls_link } %>
        <%= list_item(active: active == :recesses) { member.decorate.recesses_link } %>
      <% end %>
    </ul>
  </div>
</div>

